.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
docs/research/**
*.code-workspace
tsconfig.test.json
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
